In [1]:
my_list = ['1', '100', '33']
answer = ''.join(my_list)

In [2]:
answer

'110033'

In [3]:
n = int(input().strip())
print('*'*n)

3
***

In [67]:
n = 5

for i in range(n+1):
    print('*' * i)

*
**
***
****
*****

In [13]:
answer = ''
n = 3
for _ in range(n):
    answer += 'abc'
print(answer)

abcabcabc

In [15]:
n = 3
answer = 'abc' * n
print(answer)

abcabcabc

In [16]:
'abcd'* 2

'abcdabcd'

In [17]:
n = 3
answer = [123, 456] * n
print(answer)

[123, 456, 123, 456, 123, 456]

In [20]:
iterable1 = 'ABCD'
iterable2 = 'xy'
iterable3 = '1234'

for value1 in iterable1:
    for value2 in iterable2:
        for value3 in iterable3:
            print(value1, value2, value3)

A x 1
A x 2
A x 3
A x 4
A y 1
A y 2
A y 3
A y 4
B x 1
B x 2
B x 3
B x 4
B y 1
B y 2
B y 3
B y 4
C x 1
C x 2
C x 3
C x 4
C y 1
C y 2
C y 3
C y 4
D x 1
D x 2
D x 3
D x 4
D y 1
D y 2
D y 3
D y 4

In [24]:
import itertools

iterable1 = 'ABCD'
iterable2 = 'xy'
iterable3 = '1234'

list(itertools.product(iterable1, iterable2, iterable3))

[('A', 'x', '1'),
 ('A', 'x', '2'),
 ('A', 'x', '3'),
 ('A', 'x', '4'),
 ('A', 'y', '1'),
 ('A', 'y', '2'),
 ('A', 'y', '3'),
 ('A', 'y', '4'),
 ('B', 'x', '1'),
 ('B', 'x', '2'),
 ('B', 'x', '3'),
 ('B', 'x', '4'),
 ('B', 'y', '1'),
 ('B', 'y', '2'),
 ('B', 'y', '3'),
 ('B', 'y', '4'),
 ('C', 'x', '1'),
 ('C', 'x', '2'),
 ('C', 'x', '3'),
 ('C', 'x', '4'),
 ('C', 'y', '1'),
 ('C', 'y', '2'),
 ('C', 'y', '3'),
 ('C', 'y', '4'),
 ('D', 'x', '1'),
 ('D', 'x', '2'),
 ('D', 'x', '3'),
 ('D', 'x', '4'),
 ('D', 'y', '1'),
 ('D', 'y', '2'),
 ('D', 'y', '3'),
 ('D', 'y', '4')]

In [ ]:
def solution(mylist):
    answer = mylist[0]
    return answer

In [43]:
answer = []
mylist = [[1], [2]]
mylist = [['A', 'B'], ['X', 'Y'], ['1']]
for i in mylist:
    for j in i:
        answer.append(j)
print(answer)

['A', 'B', 'X', 'Y', '1']

In [41]:
answer

[['A', 'B'], ['X', 'Y'], ['1']]

In [62]:
my_list = [[1, 2], [3, 4], [5, 6]]
answer = []
for element in my_list:
    answer += element
print(answer)

[1, 2, 3, 4, 5, 6]

In [63]:
my_list = [[1, 2], [3, 4], [5, 6]]

In [50]:
# 방법 1 - sum 함수
answer = sum(my_list, [])
answer

[1, 2, 3, 4, 5, 6]

In [54]:
# 방법 2 - itertools.chain
import itertools
list(itertools.chain.from_iterable(my_list))

[1, 2, 3, 4, 5, 6]

In [53]:
# 방법 3 - itertools와 unpacking
import itertools
list(itertools.chain(*my_list))

[1, 2, 3, 4, 5, 6]

In [55]:
# 방법 4 - list comprehension 이용
[element for array in my_list for element in array]

[1, 2, 3, 4, 5, 6]

In [56]:
# 방법 5 - reduce 함수 이용 1
from functools import reduce
list(reduce(lambda x, y: x+y, my_list))

[1, 2, 3, 4, 5, 6]

In [57]:
# 방법 6 - reduce 함수 이용 2
from functools import reduce
import operator
list(reduce(operator.add, my_list))

[1, 2, 3, 4, 5, 6]

In [64]:
import numpy as np
np.array(my_list).flatten().tolist()

[1, 2, 3, 4, 5, 6]

In [65]:
from functools import reduce

def sum(a, b):
    print(f"[a = {a}, b = {b}] sum = {a} + {b} = {a+b}")
    return a + b

numbers = [1, 2, 3, 4, 5]
total = reduce(sum, numbers)
print(f"total = {total}")

[a = 1, b = 2] sum = 1 + 2 = 3
[a = 3, b = 3] sum = 3 + 3 = 6
[a = 6, b = 4] sum = 6 + 4 = 10
[a = 10, b = 5] sum = 10 + 5 = 15
total = 15