In [104]:
# numbers = "onetwothreefourfivesixseveneightnine"  # 123456789
numbers = "onefourzerosixseven"  # 14067

In [105]:
num_dict = {"zero": 0,
            "one": 1,
            "two": 2,
            "three": 3,
            "four": 4,
            "five": 5,
            "six": 6,
            "seven": 7,
            "eight": 8,
            "nine": 9}

In [126]:
answer = 0
tmp = ''
tmp_answer = ''

for i in numbers:
    tmp += i
    try:
        if str(num_dict[tmp]).isnumeric():
            tmp_answer += str(num_dict[tmp])
            tmp = ''
    except:
        pass

In [127]:
tmp_answer

'14067'

In [132]:
for num, eng in enumerate(["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]):
    print(num, eng)
#     numbers = numbers.replace(eng, str(num))

0 zero
1 one
2 two
3 three
4 four
5 five
6 six
7 seven
8 eight
9 nine

In [131]:
numbers

'14067'