In [ ]:
[2, 1]	[[1, 2], [2, 1]]
[1, 2, 3]	[[1, 2, 3], [1, 3, 2], [2, 1, 3], [2, 3, 1], [3, 1, 2], [3, 2, 1]]

In [1]:
import itertools

In [6]:
mylist = [2, 1]
mylist = [1, 2, 3]
answer = list(itertools.permutations(mylist))
answer.sort()

In [7]:
answer

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [11]:
arr = [1, 2, 3]
result = [arr[:]]
result

[[1, 2, 3]]

In [14]:
c = [0] * len(arr)

i = 0
while i < len(arr):
    if c[i] < i:
        if i % 2 == 0:
            arr[0], arr[i] = arr[i], arr[0]
        else:
            arr[c[i]], arr[i] = arr[i], arr[c[i]]
        result.append(arr[:])
        c[i] += 1
        i = 0
    else:
        c[i] = 0
        i += 1

In [15]:
result

[[1, 2, 3], [2, 1, 3], [3, 1, 2], [1, 3, 2], [2, 3, 1], [3, 2, 1]]

In [16]:
import itertools

pool = ['A', 'B', 'C']
print(list(map(''.join, itertools.permutations(pool)))) # 3개의 원소로 수열 만들기
print(list(map(''.join, itertools.permutations(pool, 2)))) # 2개의 원소로 수열 만들기

['ABC', 'ACB', 'BAC', 'BCA', 'CAB', 'CBA']
['AB', 'AC', 'BA', 'BC', 'CA', 'CB']

In [19]:
list(map(''.join, itertools.permutations(pool)))

['ABC', 'ACB', 'BAC', 'BCA', 'CAB', 'CBA']

In [33]:
my_str = 'aab'
# my_str = 'dfdefdgf'
# my_str = 'bbaa'

In [34]:
my_set = list(set(my_str))
my_set

['a', 'b']

In [35]:
my_dict = {}
for i in my_set:
    my_dict[i] = 0
my_dict

{'a': 0, 'b': 0}

In [36]:
for i in  my_str:
    my_dict[i] += 1
my_dict

{'a': 2, 'b': 1}

In [38]:
my_max = max(my_dict.keys())
my_max

'b'

In [39]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 7, 9, 1, 2, 3, 3, 5, 2, 6, 8, 9, 0, 1, 1, 4, 7, 0]

In [40]:
answer = {}

In [41]:
for number in my_list:
    try:
        answer[number] += 1
    except KeyError:
        answer[number] = 1

In [ ]:
for i in mylist:
    try:
        answer[i] += 1
    except:
        answer[i] = 1

In [43]:
answer

{1: 4, 2: 3, 3: 3, 4: 2, 5: 2, 6: 2, 7: 3, 8: 2, 9: 2, 0: 2}

In [42]:
print(answer[1]) # = 4
print(answer[3])  # = 3
print(answer[100])  # =  raise KeyError

4
3

KeyError: 100

In [44]:
import collections

In [45]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 7, 9, 1, 2, 3, 3, 5, 2, 6, 8, 9, 0, 1, 1, 4, 7, 0]

In [46]:
len(my_list)

25

In [47]:
answer = collections.Counter(my_list)

In [53]:
answer

Counter({1: 4, 2: 3, 3: 3, 4: 2, 5: 2, 6: 2, 7: 3, 8: 2, 9: 2, 0: 2})

In [54]:
print(answer[1]) # = 4
print(answer[3])  # = 3
print(answer[100]) # = 0

4
3
0

In [56]:
answer[1234] = 1

In [57]:
answer[1234]

1

In [58]:
mylist = [3, 2, 6, 7]

In [71]:
answer = []
for i in mylist:
    if i % 2 == 0:
        answer.append(i ** 2)
answer

[4, 36]

In [ ]:
mylist = [3, 2, 6, 7]

In [72]:
answer = [number**2 for number in mylist if number % 2 == 0]

In [73]:
answer

[4, 36]

In [81]:
[ i** 2 for i in mylist if i % 2 == 0]

[4, 36]

In [101]:
import collections
import itertools

# my_str = 'aaab'
# my_str = 'dfdefdgf'
my_str = 'bbaa'

cnt = collections.Counter(my_str).most_common()
print(cnt)
max_count = cnt[0][1]

result = []
for i in cnt:
    if i[1] == max_count:
        result.append(i[0])

print(''.join(sorted(result)))

[('b', 2), ('a', 2)]
ab

In [102]:
import math

if __name__ == '__main__':
    numbers = [int(input()) for _ in range(5)]
    multiplied = 1
    flag = True
    for number in numbers:
        multiplied *= number
        if math.sqrt(multiplied) == int(math.sqrt(multiplied)):
            flag = False
            print('found')
            break

    if flag:
        print('not found')

2
4
2
5
1
found

In [103]:
import math

if __name__ == '__main__':
    numbers = [int(input()) for _ in range(5)]
    multiplied = 1
    for number in numbers:
        multiplied *= number
        if math.sqrt(multiplied) == int(math.sqrt(multiplied)):
            print('found')
            break
    else:
        print('not found')

2
4
2
5
1
found

In [104]:
a = 3
b = 'abc'

temp = a
a = b
b = temp

In [106]:
a,b

('abc', 3)

In [107]:
a = 3
b = 'abc'

a, b = b, a

In [108]:
a,b

('abc', 3)

In [112]:
def bisect2(a, x, lo=0, hi=None):
    if lo < 0:
        raise ValueError('lo must be non-negative')
    if hi is None:
        hi = len(a)
    while lo < hi:
        mid = (lo + hi) // 2
        if a[mid] < x:
            lo = mid + 1
        else:
            hi = mid
    return lo

mylist = [1, 2, 3, 7, 9, 11, 33]
print(bisect2(mylist, 3))

2

In [110]:
import bisect
mylist = [1, 2, 3, 7, 9, 11, 33]
print(bisect.bisect(mylist, 3))

3

In [119]:
class Coord(object):
    def __init__(self, x, y):
        self.x, self.y = x, y

point = Coord(1, 2)
print( '({}, {})'.format(point.x, point.y) ) 

# 또는
def print_coord(coord):
    print( '({}, {})'.format(coord.x, coord.y) )
print_coord(point)

(1, 2)
(1, 2)

In [117]:
class Coord(object):
    def __init__ (self, x, y):
        self.x, self.y = x, y
    def __str__ (self):
        return '({}, {})'.format(self.x, self.y)

point = Coord(1, 2)
print(point)

(1, 2)

In [123]:
min_val = 99999
min_val > 100000 # ?

False

In [130]:
min_val = 9999
min_val > float('inf')

False

In [ ]:
f = open('myfile.txt', 'r')
while True:
    line = f.readline()
    if not line: 
        break
    raw = line.split()
    print(raw)
f.close()

In [ ]:
with open('myfile.txt') as file:
    for line in file.readlines():
        print(line.strip().split('\t'))